@import "../../styles/base";
@import "../../styles/fonts";
@import "../../styles/variables";

.card-containerHome {
    display: flex;
    width: 911px;
    height: auto;
    background-color: var(--just-white);
    flex-direction: column;
    align-items: center;
    margin: 100px auto 80px auto;
    box-shadow: 0px 4px 20px #0a0a0a93;
    border-radius: 18px;

 
        & h2 {
            padding: 15px;
            background-color: var(--color-primary);
            width: 100%;
            text-align: center;
            font-size: 2.8rem;
            border-radius: 18px 18px 0px 0px;
            margin-bottom: 45px;
        }
    
    & p {
        text-align: center;
        font-size: 1.4rem;
    }

    &__video {
        margin: 35px 0px;
    }
    
}
.card-containerHome:hover {
    box-shadow: 0px 4px 20px var(--color-primary);
}

.videoPrincipal {
    padding: 10px;
    border-radius: 18px;
    width: 560px;
    height: 315px;
}

.card-options {
    display: flex;
    justify-content: row;
}

.card-opctions__itemHome {
    width: 240px;
    height: 340px;
    text-align: center;
    background-color: var(--color-secondary);
    border-radius: 15px;
    margin: 10px 35px 85px 0px;
    padding: 15px;
    position: relative;
    box-shadow: 0px 4px 12px #000;
}
.card-opctions__itemHome:hover {
    box-shadow: 0px 4px 12px var(--color-primary);
}

.card-opctions__itemHome iframe {
    width: 70px;
    height: 60px;
}

.card-opctions__itemHome h3 {
    font-size: 1.5rem;
    margin: 8px 0px;
}
.card-opctions__itemHome .pItemHome {
    font-weight: lighter;
}

.containerFooter{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFooter .Abutton {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    color: var(--color-nav);
    padding-top: 10px;
}
.Abutton:hover {
    box-shadow: 4px 4px 12px var(--color-primary);
    background-color: rgba(218, 214, 214, 0.795);
    color: black;
    font-weight: bold;
}
