:root {
  --color-nav: rgba(0, 0, 0, 0.897);
  --color-primary: #00ACA0;
  --color-secondary: #4746463d;
  --just-white: #f1ebeb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: var(--color-secondary);
    
}