@import '../../styles/base';
@import '../../styles/fonts';
@import '../../styles/variables';

.causas-section{
    text-align: center;
    background: linear-gradient(269.74deg, rgba(0, 172, 160, 0.45) 19.39%,
    #F4FDFC 63.99%);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.causas-section__titulo h2{
    font-size: 3.0rem;
    margin: 35px 0px 40px 0px;
    padding-top: 30px;
}

.causas-section__titulo p{
    font-size: 1.4rem;
}

.causas-section__items{
    display: flex;
    justify-content: center;
    margin: 65px 50px 0px 50px;
    
}
.container-card{
    width: 290px;
    height: 480px;
    box-shadow: 0px 0px 2px var(--color-secondary);
    margin: 10px;
    border-radius: 8px;
    position: relative;
    background: var(--color-secondary);

    
}


.container-card__img {
    width: 270px;
    height: 255px;

}
.container-card__img img{
    background-size: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
        align-content: center;
        padding: 10px;
        margin: 0px 0px 0px 10px;
        border-radius: 15px;

}

.container-card h4{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-top: 25px;
}

.container-card p{
 padding: 20px;
}

.container-card a{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 98px;
    height: 50px;
    margin: 0px auto 15px auto;
    background-color: var(--color-nav);
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    color: var(--color-primary);
    display: flex;
    align-items: center;
}

.container-card a:hover{
    background-color: var(--color-primary);
    color: var(--color-nav);
    box-shadow: 4px 4px 9px #000;
}